# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# GoLand
.idea

# macOS
.DS_Store

# Test binary, built with `go test -c`
*.test

# Compilation outputs
*/fyne-cross/*
cmd/dist/*
gui/dist/*
gui/situ-vault.app*
gui/situ-vault.tar.xz
situ-vault.exe

# Vendoring during packaging
gui/vendor/
cmd/vendor/
