# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# GoLand
.idea

# macOS
.DS_Store

# Test binary, built with `go test -c`
*.test

# Cross compilation outputs
*/fyne-cross/*
cmd/dist/*

# Vendoring during packaging
gui/vendor/
cmd/vendor/
